// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xxs: 0,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1184px,
  xl: 1440px,
  xxl: 1664px,
)!default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xs: 540px,
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1400px,
  xxl: 1580px,
)!default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.
// By default we set column numbers and gutter of the first breakpoint.
$grid-columns:                12!default;
$grid-gutter-width:           30px!default;


// Grid breakpoints map
$grid-breakpoints-map: (
  xxs: (
    breakpoint: 0px,
    gutter: 20px,
  ),
  xs: (
    breakpoint: 576px,
    container: 540px,
    gutter: 30px,
  ),
  sm: (
    breakpoint: 768px,
    container: 720px,
    gutter: 40px,
  ),
  md: (
    breakpoint: 992px,
    container: 960px,
    gutter: 50px,
  ),
  lg: (
    breakpoint: 1184px,
    container: 1140px,
    gutter: 60px,
  ),
  xl: (
    breakpoint: 1440px,
    container: 1400px,
    gutter: 80px,
  ),
  xxl: (
    breakpoint: 1664px,
    container: 1580px,
    gutter: 100px,
  ),
)!default;
