// usage: palette-color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)
@function palette-color($color, $type, $palette-colors: $palette-colors) {
  @if map-has-key($palette-colors, $color) {
    $current_color: map-get($palette-colors, $color);
    @if map-has-key($current_color, $type) {
      @return map-get($current_color, $type);
    }
  }
  @warn "Unknown `#{$color}` - `#{$type}` in $palette-colors.";
  @return null;
}
