@function skin-color($skin_name, $color_name, $skins: $skins) {
  @if map-has-key($skins, $skin_name) {
    $skin: map-get($skins, $skin_name);
    @if map-has-key($skin, $color_name) {
      @return map-get($skin, $color_name);
    }
  }
  @warn "Unknown `#{$skin_name}` - `#{$color_name}` in $skins.";
  @return null;
}
