{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - module: The module that provided this block plugin.
 *   - cache: The cache settings.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% if not attributes %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if not title_attributes %}
  {% set title_attributes = create_attribute() %}
{% endif %}

{% if not content_attributes %}
  {% set content_attributes = create_attribute() %}
{% endif %}

{% set block_tag = ((label is not empty) and (attributes.id is not empty)) ? 'section' : 'div' %}
{% set label_id = ((label is not empty) and (attributes.id is not empty)) ? (attributes.id ~ '-heading')|clean_id : title_attributes.id %}

{%
  set classes = [
    'block',
    'block--' ~ configuration.provider|clean_class,
    'block--' ~ plugin_id|replace({':': '-'})|clean_class
  ]
%}

{% if content %}
  {% block container %}
  <{{ block_tag }} {{ label_id ? 'aria-labelledby=\"' ~ label_id ~ '\"' }} {{ attributes.addClass(classes)|without('aria-labelledby') }}>

    {% block title %}
      {{ title_prefix }}
      {% if label %}
        <h2 {{ title_attributes.setAttribute('id', label_id).addClass('block__heading') }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
    {% endblock title %}

    {% block content %}
      <div{{ content_attributes.addClass('block__body') }}>
        {{ content }}
      </div>
    {% endblock content %}

  </{{ block_tag }}>
  {% endblock container %}
{% endif %}
