{#
/**
 * @file
 * Bootstarpper theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 * - item.attributes.class - Provides a class name for the last item of
 *   breadcrumbs collection.
 *
 * @see breadcrumb.preprocess.inc
 *
 */
#}
{% if breadcrumb %}
  <nav aria-labelledby="system-breadcrumb"
       aria-label="breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
      {% for item in breadcrumb %}
        <li class="breadcrumb-item{{ item.attributes.class }}">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
