{#
/**
 * @file
 * Bootstrapper theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_top
 * - page.header_main
 * - page.header_bottom
 * - page.highlighted
 * - page.content_top
 * - page.content
 * - page.content_bottom
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_top
 * - page.footer_main
 * - page.footer_bottom
 *
 * @see template_preprocess_page()
 * @see bootstrapper_preprocess_page()
 * @see html.html.twig
 */
#}

{% if not content_attributes %}
  {% set content_attributes = create_attribute() %}
{% endif %}

<div id="page-wrapper" class="layout-container">
  <div id="page">

    {% block head %}
      {% if page.header_top or page.header_main or page.header_bottom %}
        <header id="header" class="section section--header" aria-label="{{ 'Site header'|t}}">

          {% if page.header_top %}
            {{ page.header_top }}
          {% endif %}

          {% if page.header_main %}
            {{ page.header_main }}
          {% endif %}

          {% if page.header_bottom %}
            {{ page.header_bottom }}
          {% endif %}

        </header>
      {% endif %}
    {% endblock %}

    {% if page.highlighted %}
      {{ page.highlighted }}
    {% endif %}

    <div id="main-wrapper" class="section section--content">
      {% block content %}

        {% if page.content_top %}
          {{ page.content_top }}
        {% endif %}

        <main{{ content_attributes }}>
          <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

          <div class="layout-content">
            {{ page.content }}
          </div>{# /.layout-content #}

        </main>

        {% if page.content_bottom %}
          {{ page.content_bottom }}
        {% endif %}

      {% endblock %}
    </div>{# /.section--content #}

    <footer id="footer" class="section section--footer" aria-label="{{ 'Site footer'|t}}">
      {% block footer %}

        {% if page.footer_top or page.footer_main or page.footer_bottom %}

          {% if page.footer_top %}
            {{ page.footer_top }}
          {% endif %}

          {% if page.footer_main %}
            {{ page.footer_main }}
          {% endif %}

          {% if page.footer_bottom %}
            {{ page.footer_bottom }}
          {% endif %}

        {% endif %}

      {% endblock %}
    </footer>

  </div>
</div>{# /.layout-container #}
