@mixin border($border: 0, $style: solid) {
  @if ($border == 0) {
    border-width: 0;
    border-style: none;
  }
  @else {
    border-width: $border;
    border-style: $style;
  }
}

@mixin border-color($color: false, $color-hover: false) {
  @if($color) {
    @if ($color-hover == false) {
      $color-hover: $color;
    }

    border-color: $color;

    @if ($color-hover) {
      &:hover,
      &:focus,
      &:active {
        border-color: $color-hover;
      }
    }
  }
}
