@mixin button-initialize() {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  height: 100%;
  @include line-height(1);
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

@mixin button-populate {
  @each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value, $value);
    }
  }

  @each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
      @include button-outline-variant($value);
    }
  }
}

@mixin button-size-populate($size-map:(), $size-multipliers:(), $width-multipliers:(), $context: "btn") {
  @each $size-name, $multiplier-map in $size-multipliers {
    $btn-selector: #{$context}-size-#{$size-name};
    @if ($size-name == "normal") {
      $btn-selector-map: ('btn', #{$context}-size-#{$size-name});
    }

    @each $bp, $size in $size-map {
      @include media-breakpoint-up($bp) {
        .#{$context} {

          @if ($size-name == "normal") {
            @include button-size(
                map-get($size, "padding-vertical") * map-get($multiplier-map, "padding-vertical"),
                map-get($size, "padding-horizontal") * map-get($multiplier-map, "padding-horizontal"),
                map-get($size, "font-size") * map-get($multiplier-map, "font-size"),
                map-get($size, "line-height") * map-get($multiplier-map, "line-height"),
                map-get($size, "border-radius")
            );

            @each $width-name, $width-multiplier in $width-multipliers {
              $btn-width-selector: #{$context}-width-#{$width-name};
              &.#{$btn-width-selector} {
                padding-left: map-get($size, "padding-horizontal") * map-get($multiplier-map, "padding-horizontal") * $width-multiplier;
                padding-right: map-get($size, "padding-horizontal") * map-get($multiplier-map, "padding-horizontal") * $width-multiplier;
              }
            }
          }

          &.#{$btn-selector} {
            @include button-size(
                map-get($size, "padding-vertical") * map-get($multiplier-map, "padding-vertical"),
                map-get($size, "padding-horizontal") * map-get($multiplier-map, "padding-horizontal"),
                map-get($size, "font-size") * map-get($multiplier-map, "font-size"),
                map-get($size, "line-height") * map-get($multiplier-map, "line-height"),
                map-get($size, "border-radius")
            );

            @each $width-name, $width-multiplier in $width-multipliers {
              $btn-width-selector: #{$context}-width-#{$width-name};
              &.#{$btn-width-selector} {
                padding-left: map-get($size, "padding-horizontal") * map-get($multiplier-map, "padding-horizontal") * $width-multiplier;
                padding-right: map-get($size, "padding-horizontal") * map-get($multiplier-map, "padding-horizontal") * $width-multiplier;
              }
            }
          }

        }
      }
    }
  }
}

@mixin button-color($color: false, $bg-color: false, $hover-color: false, $bg-hover-color: false) {
  @if($color) {
    color: $color;
  }
  @if($bg-color) {
    background-color: $bg-color;
  }
  @else {
    background-color: transparent;
  }
  @if($hover-color or $bg-hover-color) {
    &:hover, &:focus {
      @if($hover-color) {
        color: $hover-color;
      }
      @if($bg-hover-color) {
        background-color: $bg-hover-color;
      }
    }
  }
}

@mixin button-colorize($color: false, $bg-color: false, $border-color: false, $hover-color: false, $hover-bg-color: false, $hover-border-color: false) {
  @if($color) {
    color: $color;
  }
  @if($bg-color) {
    background-color: $bg-color;
  }
  @else {
    background-color: transparent;
  }
  @if($border-color) {
    border-color: $border-color;
  }
  @else {
    border-color: transparent;
  }

  @if($hover-color or $hover-bg-color or $hover-border-color) {
    &:hover, &:focus {
      @if($hover-color) {
        color: $hover-color;
      }
      @if($hover-bg-color) {
        background-color: $hover-bg-color;
      }
      @if($hover-border-color) {
        border-color: $hover-border-color;
      }
    }
  }
}

@mixin button-color-populate($map:(), $context: "btn") {
  @each $color-name, $color in $map {
    $base: map_get($color, "base");
    $hover: map_get($color, "hover");
    $trans: map_get($color, "trans");

    .#{$context} {
      &.#{$context}-color-#{$color-name} {
        @include button-color(nth($base, 1), nth($base, 2), nth($base, 1), lighten(nth($base, 2), 10%));
      }

      @if($hover) {
        &.#{$context}-color-#{$color-name}-hover {
          @include button-color(nth($base, 1), nth($base, 2), nth($hover, 1), nth($hover, 2));
        }
      }

      @if ($trans) {
        &.#{$context}-color-#{$color-name}.btn-outlined,
        &.#{$context}-color-#{$color-name}.btn-outlined:focus,
        &.#{$context}-color-#{$color-name}.btn-outlined:active
        {
          @include border($btn-border-width);
          @include border-color(nth($base, 2));
          @include button-color(nth($trans, 1), false, nth($trans, 2), nth($base, 2));
        }
      }
    }

  }
}

@mixin button-color-populate-simple($map:(), $context: "btn") {
  @each $color-name, $color in $map {
    $base: map_get($color, "base");
    $hover: map_get($color, "hover");
    .#{$context} {
      &.#{$context}-color-#{$color-name} {
        @include button-colorize(nth($base, 1), nth($base, 2), nth($base, 3), nth($hover, 1), nth($hover, 2), nth($hover, 3));
      }
    }
  }
}
