// Color Classes
@mixin theme-populate-colors($theme-colors) {
  @each $color_name, $color in $theme-colors {
    @each $color_type, $color_value in $color {
      @if $color_type == "base" {
        .bkg-color-#{$color_name} {
          background-color: $color_value !important;
        }
        .text-color-#{$color_name} {
          color: $color_value !important;
          p, li {
            color: $color_value !important;
          }
        }
        .text-hover-color-#{$color_name} {
          &:hover {
            color: $color_value !important;
          }
        }
      }
      @else if $color_name != "shades" {
        .bkg-color-#{$color_name}.bkg-#{$color_type} {
          background-color: $color_value !important;
        }
        .text-color-#{$color_name}.text-#{$color_type} {
          color: $color_value !important;
          p, li {
            color: $color_value !important;
          }
        }
        .text-hover-color-#{$color_name}.text-#{$color_type} {
          &:hover {
            color: $color_value !important;
          }
        }
      }
    }
  }
}

// Shade classes
@mixin theme-populate-shades($theme-shades) {
  @each $color_name, $color_value in $theme-shades {
    .bkg-color-#{$color_name} {
      background-color: $color_value !important;
    }
    .text-color-#{$color_name} {
      color: $color_value !important;
      p, li {
        color: $color_value !important;
      }
    }
    .text-hover-color-#{$color_name} {
      &:hover {
        color: $color_value !important;
      }
    }
  }
}
