@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

@mixin font-weight-populate($map) {
  @each $font-weight in $map {
    .fw-#{$font-weight} {
      font-weight: $font-weight;
    }
    .fw-#{$font-weight}-force {
      font-weight: $font-weight !important;
    }
    @each $bp, $bp-val in $grid-breakpoints {
      @include media-breakpoint-up($bp) {
        .fw-#{$bp}-#{$font-weight} {
          font-weight: $font-weight;
        }
        .fw-#{$bp}-#{$font-weight}-force {
          font-weight: $font-weight !important;
        }
      }
    }
  }
}

@mixin font-weight-tag-populate($map:(), $tags:(), $context: 'text') {
  @each $font-weight in $map {
    .fw-#{$context}-#{$font-weight} {
      #{$tags} {
        font-weight: $font-weight;
      }
    }
    .fw-#{$context}-#{$font-weight}-force {
      #{$tags} {
        font-weight: $font-weight !important;
      }
    }
  }
}