// Grid system
// Generates semantic grid columns with these mixins.

// Generate container.
@mixin bootstrapper-make-container($grid-map: $grid-breakpoints-map, $breakpoints: $grid-breakpoints) {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $breakpoint-values in $grid-map {
    $gutter: map-deep-get($grid-map, $breakpoint, gutter);
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
    }
  }
}

// Generate half container.
@mixin bootstrapper-make-container-half($grid-map: $grid-breakpoints-map, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $breakpoint-values in $grid-map {
    $gutter: map-deep-get($grid-map, $breakpoint, gutter);
    $container: map-deep-get($grid-map, $breakpoint, container);
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      .container-half-#{$breakpoint} {
        @if $container {
          max-width: $container / 2;
        }
        padding-right: $gutter / 2;
        padding-left: $gutter / 2;

        &.container-half-left {
          margin-right: 0;
          padding-right: $gutter / 2;
          padding-left: $gutter;
        }
        &.container-half-right {
          margin-left: 0;
          padding-right: $gutter;
          padding-left: $gutter / 2;
        }

      }
    }
  }
}

@mixin bootstrapper-make-row($grid-map: $grid-breakpoints-map, $breakpoints: $grid-breakpoints) {
  display: flex;
  flex-wrap: wrap;

  @each $breakpoint, $breakpoint-values in $grid-map {
    $gutter: map-deep-get($grid-map, $breakpoint, gutter);
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      margin-right: -$gutter / 2;
      margin-left: -$gutter / 2;
    }
  }
}

// For the each breakpoint, define the maximum width of the container in a media query
@mixin bootstrapper-make-container-max-widths($grid-map: $grid-breakpoints-map, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $breakpoint-values in $grid-map {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: map-get($breakpoint-values, container);
    }
  }
}

@mixin bootstrapper-make-col-ready($grid-map: $grid-breakpoints-map, $breakpoints: $grid-breakpoints) {
  position: relative;
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  width: 100%;

  @each $breakpoint, $breakpoint-values in $grid-map {
    $gutter: map-deep-get($grid-map, $breakpoint, gutter);
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
    }
  }
}
