@mixin line-height($line-height) {
  line-height: percent($line-height);
}

@mixin line-height-populate($map) {
  @each $line-height in $map {
    .lh-#{$line-height} {
      line-height: percent($line-height / 100);
    }
    .lh-#{$line-height}-force {
      line-height: percent($line-height / 100) !important;
    }
  }
}

@mixin line-height-tag-populate($map:(), $tags:(), $context: 'text') {
  @each $line-height in $map {
    .lh-#{$context}-#{$line-height} {
      #{$tags} {
        line-height: percent($line-height / 100);
      }
    }
    .lh-#{$context}-#{$line-height}-force {
      #{$tags} {
        line-height: percent($line-height / 100) !important;
      }
    }
  }
}
