@mixin opacity($opacity) {
  opacity: $opacity;
}

@mixin opacity-populate($map) {
  @each $opacity-name, $opacity in $map {
    .op-#{$opacity-name} {
      opacity: $opacity;
    }
    .op-#{$opacity-name}-force {
      opacity: $opacity !important;
    }
  }
}
