@mixin padding($top: null, $right: null, $bottom: null, $left: null, $is-important: false) {
  $important: null;
  @if ($is-important) {
    $important: !important;
  }
  @if (type_of($top) == number and type_of($right) == number and type_of($bottom) == number and type_of($left) == number) {
    padding: $top $right $bottom $left $important;
  }
  @else {
    @if (type_of($top) == number) {
      padding-top: $top $important;
    }
    @if (type_of($right) == number) {
      padding-right: $right $important;
    }
    @if (type_of($bottom) == number) {
      padding-bottom: $bottom $important;
    }
    @if (type_of($left) == number) {
      padding-left: $left $important;
    }
  }
}

@mixin padding-populate($list: null) {
  @if (type_of($list) == 'map') {
    @each $name, $padding in $list {
      $vertical: nth($padding, 1);
      $horizontal: nth($padding, 2);
      .p-#{$name} {
        @include padding($vertical, $horizontal, $vertical, $horizontal, true);
      }
      .py-#{$name} {
        @include padding($vertical, null, $vertical, null, true);
      }
      .px-#{$name} {
        @include padding(null, $horizontal, null, $horizontal, true);
      }
      .pt-#{$name} {
        @include padding($vertical, null, null, null, true);
      }
      .pb-#{$name} {
        @include padding(null, null, $vertical, null, true);
      }
      .pr-#{$name} {
        @include padding(null, $horizontal, null, null, true);
      }
      .pl-#{$name} {
        @include padding(null, null, null, $horizontal, true);
      }

      @each $bp, $bp-val in $grid-breakpoints {
        @include media-breakpoint-up($bp) {
          .p-#{$bp}-#{$name} {
            @include padding($vertical, $horizontal, $vertical, $horizontal, true);
          }
          .py-#{$bp}-#{$name} {
            @include padding($vertical, null, $vertical, null, true);
          }
          .px-#{$bp}-#{$name} {
            @include padding(null, $horizontal, null, $horizontal, true);
          }
          .pt-#{$bp}-#{$name} {
            @include padding($vertical, null, null, null, true);
          }
          .pb-#{$bp}-#{$name} {
            @include padding(null, null, $vertical, null, true);
          }
          .pr-#{$bp}-#{$name} {
            @include padding(null, $horizontal, null, null, true);
          }
          .pl-#{$bp}-#{$name} {
            @include padding(null, null, null, $horizontal, true);
          }
        }
      }

    }
  }
}
