@mixin rounding($rounding: null, $is-important: false) {
  $important: null;
  @if ($is-important) {
    $important: !important;
  }
  @if (type_of($rounding) == number) {
    border-radius: $rounding $important;
  }
}

@mixin rounding-populate($list: null) {
  @if (type_of($list) == 'map') {
    @each $name, $rounding in $list {
      .rounding-#{$name} {
        @include rounding($rounding, false);
      }
      .rounding-#{$name}-force {
        @include rounding($rounding, true);
      }

      @each $bp, $bp-val in $grid-breakpoints {
        @include media-breakpoint-up($bp) {
          .rounding-#{$bp}-#{$name} {
            @include rounding($rounding, false);
          }
          .rounding-#{$bp}-#{$name}-force {
            @include rounding($rounding, true);
          }
        }
      }

    }
  }
}
