@mixin theme-shadow($shadow-name: null) {
  @if($shadow-name != null) {
    $shadow: map_get($shadow-map, $shadow-name);
    box-shadow: unquote($shadow);
  }
}

// z-depth (shadow) classes.
@mixin theme-populate-shadows($shadow-map) {
  @each $shadow-name, $shadow in $shadow-map {
    .z-#{$shadow-name}, .shadow-#{$shadow-name} {
      box-shadow: unquote($shadow);
    }
  }
}
