// Skin Colors.
@mixin theme-generate-skin-colors($skin: null) {
  @if ($skin != null and type_of($skin) == map) {
    $colors: map_get($skin, 'colors');
    @if ($colors != null and type_of($colors) == map) {
      @each $color-name, $color in $colors {
        .skin-color--#{$color-name} {
          color: $color;

          a {
            color: inherit;
          }
        }
      }
    }
  }
}

// Skin Colors.
@mixin theme-generate-skin-buttons($skin: null) {
  @if ($skin != null and type_of($skin) == map) {
    $colors: map_get($skin, 'colors');
    @if ($colors != null and type_of($colors) == map) {
      @each $color-name, $color in $colors {
        .skin-color--#{$color-name} {

          a.btn-skin {
            color: $white;
            background-color: $color;
            &:hover {
              background-color: darken($color, 7%);
            }
          }

          a.btn-skin.btn-outlined {
            color: $color;
            border-color: $color;
            background-color: transparent;
            &:hover {
              color: map_get(map_get($skin, 'typography'), "outlined");
              background-color: $color;
            }
          }

        }
      }
    }
  }
}

// Skin SVG.
@mixin theme-generate-skin-svg($skin: null) {
  @if ($skin != null and type_of($skin) == map) {
    $colors: map_get($skin, 'colors');
    @if ($colors != null and type_of($colors) == map) {
      @each $color-name, $color in $colors {
        .svg-fill--#{$color-name} {
          fill: $color;
        }
        .svg-stroke--#{$color-name} {
          stroke: $color;
        }
      }
    }
  }
}

// Skin Backgrounds.
@mixin theme-generate-skin-backgrounds($skin: null) {
  @if ($skin != null and type_of($skin) == map) {
    $colors: map_get($skin, 'backgrounds');
    @if ($colors != null and type_of($colors) == map) {
      @each $color-name, $color in $colors {
        @each $color-second-name, $color-second in $colors {
          @if ($color-second-name != $color-name) {
            .skin-background--gradient-vertical--#{$color-name}-#{$color-second-name} {
              background: linear-gradient($color, $color-second)
            }
            .skin-background--gradient-horizontal--#{$color-name}-#{$color-second-name} {
              background: linear-gradient(90deg, $color, $color-second)
            }
            .skin-background--gradient-diagonal-left--#{$color-name}-#{$color-second-name} {
              background: linear-gradient(120deg, $color, $color-second)
            }
            .skin-background--gradient-diagonal-right--#{$color-name}-#{$color-second-name} {
              background: linear-gradient(240deg, $color, $color-second)
            }
          }
        }

        .skin-background--#{$color-name} {
          background-color: $color;
        }

        //@at-root {
        //  body.skin-background--#{$color-name} {
        //    background-color: $color;
        //  }
        //}

      }
    }
  }
}

// Skin Borders.
@mixin theme-generate-skin-borders($skin: null) {
  @if ($skin != null and type_of($skin) == map) {
    $colors: map_get($skin, 'borders');
    @if ($colors != null and type_of($colors) == map) {
      @each $color-name, $color in $colors {
        .skin-border--#{$color-name} {
          border-color: $color;
        }
      }
    }
  }
}

// Skin Typography.
@mixin theme-generate-skin-typography($skin: null) {
  @if ($skin != null and type_of($skin) == map) {
    $colors: map_get($skin, 'typography');
    @if ($colors != null and type_of($colors) == map) {
      .h0, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        a {
          color: inherit;
        }
      }
      h1, .h0, .h1 {
        &.accented {
          color: map_get($colors, 'h1');
        }
      }
      h2, .h2 {
        &.accented {
          color: map_get($colors, 'h2');
        }
      }
      h3, .h3 {
        &.accented {
          color: map_get($colors, 'h3');
        }
      }
      h4, .h4 {
        &.accented {
          color: map_get($colors, 'h4');
        }
      }
      h5, .h5 {
        &.accented {
          color: map_get($colors, 'h5');
        }
      }
      h6, .h6 {
        &.accented {
          color: map_get($colors, 'h6');
        }
      }
      .accented {
        h1, .h0, .h1 {
          color: map_get($colors, 'h1');
        }
        h2, .h2 {
          color: map_get($colors, 'h2');
        }
        h3, .h3 {
          color: map_get($colors, 'h3');
        }
        h4, .h4 {
          color: map_get($colors, 'h4');
        }
        h5, .h5 {
          color: map_get($colors, 'h5');
        }
        h6, .h6 {
          color: map_get($colors, 'h6');
        }
      }

      .display-1, .display-2, .display-3, .display-4 {
        color: map_get($colors, 'h1');
      }

      p {
        color: map_get($colors, 'paragraph');
      }
      .accented p, p.accented {
        color: map_get($colors, 'paragraph-accented');
      }

      ul, ol {
        li {
          color: map_get($colors, 'list');
        }
        .accented li, li.accented {
          color: map_get($colors, 'list-accented');
        }
      }

      .toolbar-tray a, .toolbar-tray a:hover {
        color: inherit;
      }

      a {
        color: map_get($colors, 'link');
        &:hover {
          color: map_get($colors, 'link-hover');
        }

        $link-color-accented: map_get($colors, 'link-accented');
        $link-color-accented-hover: map_get($colors, 'link-accented-hover');
        @if ($link-color-accented != null and $link-color-accented-hover != null) {
          &.accented {
            color: $link-color-accented;
            &:hover {
              color: $link-color-accented-hover;
            }
          }
        }
      }

    }
  }
}

@mixin theme-generate-skin($skin: null) {
  @if ($skin != null and type_of($skin) == map) {
    @include theme-generate-skin-colors($skin);
    @include theme-generate-skin-buttons($skin);
    @include theme-generate-skin-backgrounds($skin);
    @include theme-generate-skin-borders($skin);
    @include theme-generate-skin-typography($skin);
    @include theme-generate-skin-svg($skin);
  }
}

@mixin theme-populate-skins($theme-skins) {
  @each $skin_name, $skin in $theme-skins {
    @if ($skin != null and type_of($skin) == map) {
      .page-skin--#{$skin_name}, .page-skin .page-skin--inner.page-skin--#{$skin_name} {
        @include theme-generate-skin($skin);
      }
    }
  }
}

