@mixin text-invisible {
  text-indent: -9999px;
}

@mixin text-visible {
  text-indent: inherit;
}

@mixin element-hidden {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

@mixin element-displayed {
  position: inherit;
  left: inherit;
  visibility: visible;
}

@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

@mixin element-visible {
  position: inherit !important;
  clip: inherit;
  overflow: inherit;
  height: inherit;
}

@mixin element-focusable {
  &:active,
  &:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
  }
}

@mixin display-none {
  display: none;
  visibility: hidden;
}

@mixin display-block {
  display: block;
  visibility: visible;
}

@mixin display-inline {
  display: inline;
  visibility: visible;
}

@mixin display-inline-block {
  display: inline-block;
  visibility: visible;
}

@mixin display-contents {
  display: contents;
  visibility: visible;
}

@mixin display-populate() {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint) {
      .display#{$infix}-none {
        @include display-none;
      }
      .display#{$infix}-block {
        @include display-block;
      }
      .display#{$infix}-inline {
        @include display-inline;
      }
      .display#{$infix}-inline-block {
        @include display-inline-block;
      }
      .display#{$infix}-contents {
        @include display-contents;
      }
    }
  }
}
