.border-style-dotted { border-style: dotted; }
.border-style-dashed { border-style: dashed; }
.border-style-solid { border-style: solid; }
.border-style-none { border-style: none; }

.border-1 { border-width: 1px; }
.border-2 { border-width: 2px; }
.border-3 { border-width: 3px; }
.border-4 { border-width: 4px; }
.border-5 { border-width: 5px; }
.border-6 { border-width: 6px; }
.border-7 { border-width: 7px; }
.border-8 { border-width: 8px; }

.rounded-circle-img {
  img {
    border-radius: 50% !important;
  }
}
