// Styles for ordered and unordered lists.

// Styles for all lists.
ol, ul, dl {
  padding-inline-start: 24px;

  li {
    @include line-height(1.5);
  }
}

// Styles for unordered lists.
ul.links, ul.tips {
  li {
    margin-left: 24px;
  }
}

// Styles for inline unordered lists.
ul.inline li {
  margin: 0 auto;
}

// Styles for item lists.
.item-list {

  ul, ol, dl {
    margin: 0 0 16px 0;
    padding-left: 0;
  }

  li {
    margin-left: 24px;
  }
}

ul.list-style-none {
  list-style-type: none;
}
