// Styles for media objects.

embed,
img,
object,
video,
media {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  width: auto;
  height: auto;
}

img.width-full, .width-full img {
  width: 100%;
  height: auto;
}

.media-center .media {
  justify-content: center;
}

.svg-stroke--width-1 {stroke-width:1;}
.svg-stroke--width-2 {stroke-width:2;}
.svg-stroke--width-3 {stroke-width:3;}
.svg-stroke--width-4 {stroke-width:4;}

figure {

  figcaption {
    font-size: $font-size-base;
    font-style: italic;
    text-align: center;
  }

}
